<% if flash[:message] %>
  <p>
    <span class="error"><%= flash[:message] %></span>
  </p>
<% end %>

<form action="/address" method="post">
  <input type="text" size="40" name="addr" autocomplete="off"/>
  <input type="submit" value="Address"/>
</form>


Previous Searches<br>
<% @game.previous.each do |previousP| %>
  Place : 
  <%= previousP[0] %>
  :    Last Temperature :  
  <%= previousP[2] %>
  :
  <br>
<% end %>